<div class="section_one">
  <div class="header">
    <h1>Sean Lenhart</h1>
  </div>

  <div class="first_container">
    <div class="img_container">
      <%= image_tag("headshot.jpg", :class => "headshot") %>
      <p><a href="http://www.twitter.com/seanlenhart">@seanlenhart</a></p>
      <p><a href="http://www.seanlenhart.com">seanlenhart.com</a></p>
      <p><a href="https://github.com/proto-zero/Projects">GitHub</a></p>
    </div>
    <div class="text one">
      <h2>Hi, I'm Sean</h2>
      <p>I am a <strong>Software Developer</strong>, and a <strong>Professional Actor</strong>.</p><br>
      <p>I like to build things. Plays, characters, programs, websites.</p>
      <p>I like to communicate with an audience, to interact with other players, to find interesting and unique ways to solve problems.</p><br>
      <div class="magic_container">In other words, I have a strong desire to <div class="magic"><em>express myself.</em></div></div><br>

      <p>Let me take you through some of the Projects I have created while attending Academy Pittsburgh and learning the Ruby Programming Language. If you want to dive right into my github you can do so <a href="https://github.com/proto-zero/Projects">here</a>. </p><br>
      <p>So, for the first Featured Ruby Project, let's set the mood.</p>
    </div>
  </div>

  <div class=""
</div>
