<!-- Top Of Page -->
<div class="section intro">
  <div class="header my_name">
    <h1>Sean Lenhart</h1>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("headshot.jpg", :class => "headshot") %>
      <p><a href="http://www.twitter.com/seanlenhart" target="_blank">@seanlenhart</a></p>
      <p><a href="http://www.seanlenhart.com" target="_blank">seanlenhart.com</a></p>
      <p><a href="https://github.com/proto-zero/Projects" target="_blank">GitHub</a></p>
    </div>
    <div class="text bio">
      <h2>Hi, I'm Sean</h2>
      <p>I am a <strong>Software Developer</strong>, and a <strong>Professional Actor</strong>.</p><br>
      <p>I like to build things. Plays, characters, programs, websites.</p>
      <p>I like to communicate with an audience, to interact with other players, to find interesting and unique ways to solve problems.</p><br>
      <div class="magic_container">In other words, I have a strong desire to <div class="magic"><em>express myself.</em></div></div><br>
      <p>Let me take you through some of the Projects I have created while attending Academy Pittsburgh and learning the Ruby Programming Language. If you want to dive right into my github you can do so <a href="https://github.com/proto-zero/Projects" target="_blank">here</a>. </p><br>
    </div>
  </div>
</div>

<!-- RPG -->
<div class="section rpg">
  <div class="header rpg_title">
    <h1><a href="https://github.com/proto-zero/Projects/tree/main/battle_fantasy" target="_blank">Battle Fantasy</a></h1>
    <p>In the style of a turn-based RPG</p>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("battle_maxscreen.png", :class => "battle maxscreen") %>
    </div>
    <div class="text rpg_description">
      <p><a href="https://github.com/proto-zero/Projects/tree/main/battle_fantasy" target="_blank">Battle Fantasy</a> is what happens when you play Final Fantasy X during breaks in Academy Pittsburgh.</p><br>
      <%= image_tag("ffxmenu.png", :class => "ffxmenu") %><br>
      <p>In most turn-based role-playing-games, when you encounter an enemy, you are given a menu that includes things like health, status, and a list of actions that you can perform.</p><br>
      <p>I find I enjoy creating menus in the terminal; trying to create a loop that changes just enough to modify the menu but not break it. I enjoy the illusion of making a repeating set of strings that looks like a static page.</p><br>
    </div>
  </div>
</div>
<div class="section rpg">
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("battle_gamescreenlayout.png", :class => "battle gamescreenlayout") %>
    </div>
    <div class="text rpg_description">
      <p>For this project I started with creating the menu screen.</p><br>
    </div>
  </div>
</div>
