body {
  margin: 0;
  background: #a9081c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//// The Full Background Sections
.section {
  width: 75vw;
  border: 2px solid white;
  border-radius: 35px;
  background: #a9081c;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5;
  padding: 0;
}
.intro {
  background: #a9081c;
}
.rpg {
  background: #6091ab;
}
.gardenbox {
  background: #101b37;
}
.system_manager {
  background: #121b22;
}

//// Header Sections
.header {
  width: 70vw;
  height: 10vh;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.my_name {
  flex-direction: column;
  font-size: 3em;
  color: #f0ba70;
}
.my_name p {
  border-radius: 35px;
  border: 2px solid #716b6d;
  background: #111a21;
  min-width: 120px;
  font-size: large;
  margin: 5px;
  padding: 2px 10px 2px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.my_name a {
  color: #f0ba70;
}
// .twitter {
//   width: 35px;
//   height: auto;
// }
// .github {
//   width: 50px;
//   height: auto;
// }
.rpg_title {
  color: #f0ba70;
}
.rpg_title a {
  color: #f0ba70;
}
.gb_title {
  color: #01c8ee;
}
.gb_title a {
  color: #e41376;
}
.starship_title {
  color: #b94a3e;
}
.starship_title a {
  color: #b94a3e;
}

//// Content below the Header Section
.main_container {
  width: 90vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

//// Left column Images Section
.img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.img_container p {
  border-radius: 35px;
  border: 2px solid #716b6d;
  background: #111a21;
  width: 50%;
  min-width: 120px;
  font-size: large;
  padding: 5px 10px;
  color: white;
  margin: 5px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
.img_container a {
  color: white;
}

// Main Specs for Images
.headshot {
  width: 30vw;
  min-width: 50px;
  height: auto;
  border: 2px solid white;
  border-radius: 35px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
.battle {
  width: 30vw;
  min-width: 50px;
  height: auto;
  border: 2px solid #dbc7b5;
  border-radius: 35px;
  margin-bottom: 5px;
  padding: 30px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
// .code {
//   background: black;
// }
// .term {
//   background: white;
// }
// Left Hover
.start:hover, .maxscreen:hover, .gamelogic:hover, .status_effect:hover, .map_setup:hover, .map_movement:hover, .firstscreen:hover, .opening:hover, .opening02:hover, .middle:hover, .invalid:hover, .thirdscreen:hover, .ending:hover, .menu:hover, .setstatus:hover, .mainmenu:hover, .impulse:hover, .sensors:hover {
  transform: scale(1.5);
  margin-left: 30px;
}
// Right Hover
.gamescreenlayout:hover, .attack:hover, .defend:hover, .player_magic:hover, .map_start:hover, .map_loop:hover, .clean_board:hover, .db01:hover, .db02:hover, .drawmap:hover, .secondscreen:hover, .cropmath:hover, .plantable:hover, .initialize:hover, .alerts:hover, .warp:hover, .end:hover {
  transform: scale(1.5);
  margin-right: 30px;
}
.gb {
  background: black;
  width: 30vw;
  min-width: 50px;
  height: auto;
  border-radius: 35px;
  margin-bottom: 5px;
  padding: 30px;
  border: 2px solid #e41376;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
.starship {
  background: #782d2d;
  width: 30vw;
  min-width: 50px;
  height: auto;
  border-radius: 35px;
  margin-bottom: 5px;
  padding: 30px;
  border: 2px solid #204254;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
.code {
  background: black;
}
.term {
  background: white;
}

//// The Text Box Section
.text {
  width: 69vw;
  min-width: 200px;
  padding: 30px;
  font-size: x-large;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
.text h2 {
  color: #a9081c
}
.subject {
  text-align: center;
}
.bio {
  // min-width: 250px;
  background: #111a21;
  border: 2px solid #716b6d;
  color: white;
}
.bio a {
  color: #a9081c;
}
.rpg_description {
  // min-width: 250px;
  background: #dd5146;
  border: 2px solid #dbc7b5;
  color: white;
}
.rpg_description code {
  border: 2px solid #dbc7b5;
  border-style: hidden hidden solid;
}
.rpg_description a {
  color: white;
}
.gb_description {
  // min-width: 250px;
  background: #01c8ee;
  border: 2px solid #e41376;
  color: #101b37;
}
.gb_description a {
  color: #101b37;
}
.bridge_description {
  // min-width: 250px;
  background: #204254;
  border: 2px solid #b94a3e;
  color: white;
}
.bridge_description a {
  color: white;
}

//// Styling Modifiers
.img_container, .text {
  margin: 0 15px 0;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
h2 {
  margin-bottom:10px;
}


//// Maaaaaaaaagic...!
.magic {
  width: 15vw;
}
.magic:hover {
  width: 15vw;
  text-align: center;
  min-width: 100px;
  border-radius: 25%;
  transform: scale(1.1);
  margin-left: 50px;
  font-size: xx-large;
  color: lime;
  box-shadow: 8px 8px 20px rgba(255, 0, 0, 1.5);
  animation-name: spin;
animation-duration: 5000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

//// Footer
footer {
  width: 100vw;
  height: 10vh;
  background: #a9081c;
  color: white;
  //border-top: 2px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
footer a {
  color: white;
}
